@import '../../../assets/stylus/loginIcon.styl'
  .loginContainer
    width 100%
    .header
      height 88px
    .loginTypeWrap
      width 100%
      height calc(100vh - 88px)
      background-color #F2F5F4
      .upContainer
        width 100%
        .logoWrap
          width 100%
          height 482px
          text-align center
          line-height 482px
          img
            width 268px
            height 90px
        .btnWrap
          width 100%
          padding 0 40px
          margin-bottom 205px
          .btn
            width 100%
            height 94px
            margin-bottom 32px
            border-radius 5px
            line-height 94px
            text-align center
          .phoneBtn
            background-color #DD1A21
            .phoneIcon
              background-image url('https://yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/sprites/login-s5ca4cb2b91-2c606efd24.png?imageView&type=webp')
              background-position 0 -50px
            span 
              color #fff
          .emailBtn
            box-sizing border-box
            border 1px solid #DD1A21
            .emailIcon
              background-image url('https://yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/sprites/login-s5ca4cb2b91-2c606efd24.png?imageView&type=webp')
            span 
              color #DD1A21
      .bottomContainer
        position absolute
        bottom 50px
        display flex
        justify-content center
        width 100%
        height 40px
        .itemWrap
          padding 0 40px
          box-sizing border-box
          border-right 1px solid #666
          .weixinIcon
            background-image url('../../../assets/images/login/weixin.png')
          .qqIcon
             background-image url('../../../assets/images/login/qq.png')
          .weiboIcon
             background-image url('../../../assets/images/login/weibo.png')
          span 
            color #666
        .itemWrap:nth-child(3)
          border-right none
    .loginDetailWrap
      width 100%
      .phoneLoginWrap
        .loginFooter
          width 100%
          height 38px
          padding 0 38px
          .btn
            width 100%
            height 100%
            margin-top 46px
            text-align center
        .phoneForm
          width 100%
          height 460px
          margin-top 150px
          .forget
            width 100%
            height 80px
            display flex
            padding 0 30px
            justify-content space-between
            line-height 100px
            .psw
              font-size 30px
              color #666
            .msg
              font-size 30px
              color #333
          .loginBtn
            background-color #dd1a21
            border none
            border-radius 13px