.header
      display flex
      align-items center
      width 100%
      padding 0 26px
      background-color #FAFAFA
      .header-l
        a
         text-decoration none 
         color #666
         i
          font-size 60px
      .header-m
        flex 1
        font-size 36px
        text-align center
      .header-r
        width 141px
        display flex
        justify-content space-between
        align-items center
        a
          text-decoration none 
          color #666
          .searchIcon
            display inline-block
            width 45px
            height 45px
            background-image url('../../../assets/images/index/search.webp')
            background-size cover
            background-repeat no-repeat
          .iconfont
            font-size 60px